@import "tailwindcss";
.marquee {
  display: flex;
  width: max-content;
  animation: marqueeScroll 25s linear infinite;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
